.navbar {
    background-color: yellow;
    display: flex;
    color:white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;


}

.nav-container {
    list-style-type: none;
    display: flex;
}

.h1 {
    font-size: 30px;
    align-items: center; 
    display: flex;
    gap: 20px;

}

.nav-container li {
    Color:white;
    Background-color: grey;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}